/* MOBILE FIRST */
@media all {
    /* ALL PAGES */
    body {
        background: #43698D;
        height: 97vh;
    }

    h1 {
        text-align: center;
        font-family: Georgia;
        font-size: 4.0em;
        margin-top: 0;
    }

    /* HOMEPAGE */
    .center-wrapper {
        text-align: center;
        vertical-align: middle;
    }

    .center-wrapper img {
        height: 70vh;
        width: auto;
        border-style: double;
        border-color: black;
    }

    /* GALLERY */
    .home-button {
        position: relative;
        font: 3.0em/100% 'Georgia';
        margin: 0.5em;
    }

    .gallery-image {
        display: block;
        margin: auto;
        max-width: 100%;
        max-height: 20.4vw;
    }

    .image-wrapper p {
        text-align: center;
        font: 2.3em/150% 'Georgia';
    }
}

/* TABLET */
@media screen and (min-width: 767px) {
    /* ALL PAGES */
    h1 {
        font-size: 3.0em;
    }

    /* HOMEPAGE */

    /* GALLERY */
    .home-button {
        font-size: 2.0em;
    }

    .image-wrapper p {
        font-size: 2.0em;
    }
}

/* DESKTOP */
@media screen and (min-width: 1200px) {
    /* ALL PAGES */
    h1 {
        font-size: 2.0em;
    }

    /* HOMEPAGE */

    /* GALLERY */
    .home-button {
        font-size: 1.0em;
    }

    .image-wrapper p {
        font-size: 1.3em;
    }
}

/* PORTRAIT */
@media screen and (orientation:portrait) {
    /* ALL PAGES */

    /* HOMEPAGE */
    .center-wrapper img {
        width: 80vw;
        height: auto;
    }

    /* GALLERY */
    .gallery-image {
        max-height: 31.3vw;
    }
}
